html.dark {
  background-color: #586e71;
}

html {
  background: url(./images/slice_1.png) center repeat-x;
  background-size: auto 100%;
}

@font-face {
  font-family: Simpsons;
  src: url(simpsonfont.woff);
}

h1 {
  font-family: Simpsons;
}

.simpsons-font {
  font-family: Simpsons;
}
